.wrapper {
    justify-content: end;
    align-items: center;
}

.item {
    // background: #f0ebe1;
    margin-bottom: 5px;
    // padding: 10px 20px;
}
.title {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.content {
    color: #a1a1a1;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.content.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
.selecteds{
    font-size: 2rem;
    height: 50px;
    width: 50px;
    color: #d3bb7e;
    text-align: center;
    justify-content: center;
}
.selecteds:hover{
    background-color:#d3bb7e ;
    color: black;
    border-radius: 50%;
}
hr{
    background-color: #a1a1a1;
}
.text1{
    color: #a1a1a1;
}