@import '../containers/main/AboutClinic.scss';
@import '../components/runText/RunText.scss';
@import '../components/accrdion/Accordion.scss';
@import '../containers/main/MainConatainer.scss';
@import "../containers/main/price/PriceContainer.scss";
@import '../containers/main/Results/Rsults.scss';
@import '../components/Vidoe/Video.scss';
@import '../containers/main/StuffContainer.scss';
@import '../containers/main/Footer.scss';
@import '../containers/nav/Check_up.scss';
@import '../containers/nav/Breket.scss';

.black{
background-color: white;
}
h1{
    color: #d3bb7e;
    font-family:  Arial sans-serif;
    margin-bottom: 100px;
}


$accordion-bg: black;
$accordion-button-active-bg: black;
$accordion-color: white;
$accordion-button-active-color: #d3bb7e;
$accordion-icon-color:    white;
$accordion-border-color: #d3bb7e;

$font-family-base: 'Philosopher', sans-serif;
$font-family-sans-serif: 'Philosopher', sans-serif;


@import "~bootstrap/scss/bootstrap";
